h1,h4{
    color:green;
    text-align:center
}

body{
    background-color: #c8c8c8;
}

.Grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}
